In [5]:
import pandas as pd
import numpy as np

# Sample Dataset
data = {
    'Order_ID': ['CA-1', 'CA-2', 'US-1', 'CA-3', 'US-2', 'CA-4'],
    'Product': ['Laptop', 'Mouse', 'Desk', 'Laptop', 'Chair', 'Phone'],
    'Region': ['West', 'East', 'West', 'West', 'South', 'East'],
    'Sales': [1200, 25, 300, 1500, 150, 800],
    'Quantity': [1, 3, 2, 1, 4, 2],
    'Discount': [0.1, 0.0, 0.2, 0.0, 0.1, 0.1],
    'Profit': [200, 10, -50, 300, 20, 100]
}

df = pd.DataFrame(data)

In [4]:
#How do you display the first 3 rows of the DataFrame?

df.head()

  Order_ID Product Region  Sales  Quantity  Discount  Profit
0     CA-1  Laptop   West   1200         1       0.1     200
1     CA-2   Mouse   East     25         3       0.0      10
2     US-1    Desk   West    300         2       0.2     -50
3     CA-3  Laptop   West   1500         1       0.0     300
4     US-2   Chair  South    150         4       0.1      20

In [18]:
df.dtypes

Order_ID     object
Product      object
Region       object
Sales         int64
Quantity      int64
Discount    float64
Profit        int64
dtype: object

In [19]:
df.rename(columns={'Product':'Product_name'},inplace= True)

In [20]:
df

  Order_ID Product_name Region  Sales  Quantity  Discount  Profit
0     CA-1       Laptop   West   1200         1       0.1     200
1     CA-2        Mouse   East     25         3       0.0      10
2     US-1         Desk   West    300         2       0.2     -50
3     CA-3       Laptop   West   1500         1       0.0     300
4     US-2        Chair  South    150         4       0.1      20
5     CA-4        Phone   East    800         2       0.1     100

In [21]:
df[['Sales','Profit']]

   Sales  Profit
0   1200     200
1     25      10
2    300     -50
3   1500     300
4    150      20
5    800     100

In [24]:
df['Profit_Margin'] = df['Profit'] / df['Sales']

In [28]:
df

,Order_ID,Product_name,Region,Sales,Quantity,Discount,Profit,Profit_Margin,Rating
0,CA-1,Laptop,West,1200,1,0.1,200,0.166667,5
1,CA-2,Mouse,East,25,3,0.0,10,0.400000,4
2,US-1,Desk,West,300,2,0.2,-50,-0.166667,3
3,CA-3,Laptop,West,1500,1,0.0,300,0.200000,5
4,US-2,Chair,South,150,4,0.1,20,0.133333,4
5,CA-4,Phone,East,800,2,0.1,100,0.125000,6

In [27]:
df['Rating'] = [5, 4, 3, 5, 4, 6]

In [42]:
df.iloc[2:5,1:5]

  Product_name Region  Sales  Quantity
2         Desk   West    300         2
3       Laptop   West   1500         1
4        Chair  South    150         4

In [61]:
df.loc[df['Sales'] > 1000, ['Product_name', 'Profit']]

  Product_name  Profit
0       Laptop     200
3       Laptop     300

In [53]:
df.loc[2:4, ['Order_ID', 'Sales']]

  Order_ID  Sales
2     US-1    300
3     CA-3   1500
4     US-2    150

In [104]:
#Filter for rows where the Region is 'West'.

df.loc[(df['Region']=='West')]

,Order_ID,Product_name,Region,Sales,Quantity,Discount,Profit,Profit_Margin,Rating,Category,loss
3,CA-3,Laptop,West,1500,1,0.0,300,0.200000,5,NaN,profit
0,CA-1,Laptop,West,1200,1,0.1,200,0.166667,5,NaN,profit
2,US-1,Desk,West,300,2,0.2,-50,-0.166667,3,Low,loss

In [108]:
#Filter for rows where the Region is 'West'.

df=df.query('Region=="West"')
df

,Order_ID,Product_name,Region,Sales,Quantity,Discount,Profit,Profit_Margin,Rating,Category,loss
3,CA-3,Laptop,West,1500,1,0.0,300,0.200000,5,NaN,profit
0,CA-1,Laptop,West,1200,1,0.1,200,0.166667,5,NaN,profit
2,US-1,Desk,West,300,2,0.2,-50,-0.166667,3,Low,loss

In [112]:
#Filter for rows where the Region is 'West' and sales more than 500

df=df.query('Region=="West"' and 'Sales<500')
df

,Order_ID,Product_name,Region,Sales,Quantity,Discount,Profit,Profit_Margin,Rating,Category,loss
2,US-1,Desk,West,300,2,0.2,-50,-0.166667,3,Low,loss

In [110]:
#Filter for rows where the Region is 'West'for perticular column and sales more than 500x.

df.loc[(df['Region']=='West')&(df['Sales']>500), ['Region','Sales','Product_name'] ]

  Region  Sales Product_name
3   West   1500       Laptop
0   West   1200       Laptop

In [ ]:
#Find all transactions where Profit is negative (loss) USING FUNCTION
def f1(x):
    if(x<0):
        return 'loss'
    else:
        return 'profit'

df['loss']=df['Profit'].apply(f1)

In [86]:
df

,Order_ID,Product_name,Region,Sales,Quantity,Discount,Profit,Profit_Margin,Rating,Category,loss
0,CA-1,Laptop,West,1200,1,0.1,200,0.166667,5,NaN,profit
1,CA-2,Mouse,East,25,3,0.0,10,0.400000,4,Low,profit
2,US-1,Desk,West,300,2,0.2,-50,-0.166667,3,Low,loss
3,CA-3,Laptop,West,1500,1,0.0,300,0.200000,5,NaN,profit
4,US-2,Chair,South,150,4,0.1,20,0.133333,4,Low,profit
5,CA-4,Phone,East,800,2,0.1,100,0.125000,6,NaN,profit

In [92]:
#Find all transactions where Profit is negative (loss) LOC

df.loc[df['Profit']<0,['Order_ID','Sales']]

  Order_ID  Sales
2     US-1    300

In [97]:
#Select products with sales greater than $500 AND a discount less than 0.1

df.loc[(df['Sales']>500 )&(df['Discount']<0.1),['Product_name','Sales']]

  Product_name  Sales
3       Laptop   1500

In [101]:
df.sort_values(by='Sales', ascending=False, inplace=True)

df

,Order_ID,Product_name,Region,Sales,Quantity,Discount,Profit,Profit_Margin,Rating,Category,loss
3,CA-3,Laptop,West,1500,1,0.0,300,0.200000,5,NaN,profit
0,CA-1,Laptop,West,1200,1,0.1,200,0.166667,5,NaN,profit
5,CA-4,Phone,East,800,2,0.1,100,0.125000,6,NaN,profit
2,US-1,Desk,West,300,2,0.2,-50,-0.166667,3,Low,loss
4,US-2,Chair,South,150,4,0.1,20,0.133333,4,Low,profit
1,CA-2,Mouse,East,25,3,0.0,10,0.400000,4,Low,profit

In [14]:
#Calculate the total profit for each region.


df = df.groupby('Region').agg({'Profit': 'sum'}).reset_index()

KeyError: 'Region'

In [12]:
df = df.groupby('Product').agg({'Quantity': 'mean'}).reset_index()

In [7]:
df

  Product  Quantity
0   Chair       4.0
1    Desk       2.0
2  Laptop       1.0
3   Mouse       3.0
4   Phone       2.0

In [67]:
def max_sales(x):
    a = x.max()
    if a > 500:
        return a
    else:
        return np.nan
    

df = (df.groupby('Region').agg({'Sales': max_sales}).dropna().reset_index())

In [68]:
df

  Region   Sales
0   East   800.0
1   West  1500.0

In [18]:
#find 2nd highest sales


def sec_max(x):
    a=x.max()
    unique= x.drop_duplicates().sort_values(ascending=False)
    
    if len(unique)>=2:
        return unique.iloc[1]
    else:
        return np.nan
       
        
df.groupby('Region').agg({'Sales': sec_max}).reset_index().dropna()

  Region   Sales
0   East    25.0
2   West  1200.0

In [27]:
#Total sales and total profit for the entire dataset.
df[['Sales', 'Profit']].sum()

Sales     3975
Profit     580
dtype: int64

In [ ]:
#total sale as per region

def total_sum(x):
    return x.sum()



df.groupby('Region').agg(total_sale=('Sales',total_sum)).reset_index()

  Region  total_sale
0   East         825
1  South         150
2   West        3000

In [47]:
#Average profit per product

def avg(x):
  return x.mean()


df =df.groupby('Product').agg(Average_Profit=('Profit',avg)).reset_index()

In [48]:
df

  Product  Average_Profit
0   Chair            20.0
1    Desk           -50.0
2  Laptop           250.0
3   Mouse            10.0
4   Phone           100.0

In [7]:
#Find the second highest Sales per Region

def sec_sales(x):
    unique= x.drop_duplicates().sort_values(ascending=False)
    
    if len(unique)>=2:
        return unique.iloc[1]
    else:
        return np.nan
    
df.groupby('Region').agg(sec_highest=('Sales',sec_sales)).reset_index().dropna()

  Region  sec_highest
0   East         25.0
2   West       1200.0